@charset "UTF-8";

.cont{
	width: 1200px;
	margin: auto;
}

body {
  background: #f5f5f5
}

table {
  margin:auto;
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  width: 1200px;
}

thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}

tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}

td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

a {
  color: #73685d;
}

.delete_btn {
	
  padding:0;
  cursor : pointer;
  border: 0;
  background-color: transparent;
	
}

.font_btn {
	
	font-family: 'Noto Sans KR', sans-serif; 
	font-size: 16px; 
	font-weight: bold; 
	font-style: normal; 
	color: #73685d;
	
}
